.navbar-brand{
    font-family: "Carme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
  scroll-padding-top: 80px; 
}
h1, h2 {
    font-family: "Carme", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size:50px;
}
.profile-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 50%;       
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 3px solid #fff;   
}

p{
    font-size: 20px;
}

.icon-wrapper {
  text-align: center;
}

.icon-wrapper a {
  margin: 0 5px;
  color: #333333;
  font-size: 28px;
  text-decoration: none;
}

.icon-wrapper a:hover {
  color: #cab287; 
}

.side-image {
  max-width: 350px;   
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.center-gif {
  max-width: 450px;   
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.card-title{
     font-family: "Carme", sans-serif;
    font-weight: 400;
    font-style: normal;
     font-family: "Carme", sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color:#333333;
}
.contact-section-box {
    font-family: "Carme", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size:50px;
    background-color: #f9f3e9;
  border: 3px solid #444444;       
  border-radius: 8px;               
 padding-top: 100px;
padding-bottom: 100px;
padding-left: 20px;
padding-right: 20px;              
  max-width: 700px;             
  margin: 0 auto;                  
  color: #333333;               
}
.contact-section-box a {
  color: #333333;
  margin: 0 5px;
  font-size: 30px;
  text-decoration: none;
}
#contact {
  margin-top: 300px;
  margin-bottom: 300px;
}
.contact-section-box a:hover {
  color: #cab287;
}


